/* Variables for the colour scheme */

:root {
    --primary-color: #468dda;
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --info-color: #17a2b8;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
    --bg1: #ffffff;
    --bg2: #f8f9fa;
    --bg3: #e9ecef;
    --bg4: #dee2e6;
    --bg5: #ced4da;
    --bg6: #adb5bd;
    --bg7: #6c757d;
    --bg8: #495057;
    --bg9: #343a40;
    --bg10: #212529;
}

body {
    background-color: var(--bg1);
}

.header {
    background-color: var(--bg2);
    padding: 12px 16px;
    border-bottom: 1px solid #eee;
    height: 80px;
    display: flex;
}

.header-title {
    font-size: 2rem;
    font-weight: bold;
}

.header-logo {
  margin-right: 12px;
  margin-left: 12px;
}

.content {
    display: flex;
    min-height: calc(100vh - 80px);
    align-items: stretch;
}

.panel {
    padding: 12px 16px;
    border-bottom: 1px solid #eee;
}

.list-group-item-error {
    color: var(--danger-color);
    font-weight: bold;
}

.list-group-item:hover {
    background-color: var(--bg3);
    border: 1px solid var(--bg3);
    cursor: pointer;
}

.list-group-item.active {
    background-color: var(--primary-color);
    border: 1px solid var(--bg4);
}

.list-group-item {
    background-color: var(--bg1);
    border: 1px solid var(--bg4);
    transition: background-color 0.2s, border-color 0.2s, color 0.2s;
}

.tool-container {
    display: flex;
    min-height: calc(100vh - 80px);
    width: 100vw;
    align-items: stretch;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidepanel {
    background-color: var(--bg2);
    width: 250px;
    font-weight: 550;
    border-bottom: 1px solid #eee;
    height: auto;
}

.sidepanel-left {
    border-right: 1px solid #eee;
    min-height: calc(100vh - 80px);
    height: auto;
    display: flex; /* Ensure the side panel is a flex container */
    flex-direction: column; /* Stack children vertically */
    flex: 0 0 250px; /* Fixed width for the side panel */
    min-width: 250px;
    max-width: 250px;
}

.sidepanel-right {
    border-left: 1px solid #eee;
    min-height: calc(100vh - 80px);
    height: auto;
    display: flex; /* Ensure the side panel is a flex container */
    flex-direction: column; /* Stack children vertically */
    flex: 0 0 250px; /* Fixed width for the side panel */
    min-width: 250px;
    max-width: 250px;
    margin-left: auto;
    padding-top: 0px;
}

.centerpanel {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    min-height: calc(100vh - 80px);
    min-width: 500px;
    height: auto;
    display: flex; /* Ensure the center panel is a flex container */
    flex-direction: column; /* Stack children vertically */
    flex: 1; /* Allow the center panel to grow and fill the available space */
}

.tool-panel {
    padding: 2px;
    border-left: 1px solid white;
    padding-bottom: 8px;
}

.error-message {
    color: var(--danger-color);
    font-weight: bold;
}

.panel-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 6px;
    padding: 6px 6px 6px 0;
}

.btn {
    color: black;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 8px;
    background-color: var(--bg2);
    border: 1px solid var(--secondary-color);
}

.btn:hover {
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

.btn-ripple {
    position: relative;
    overflow: hidden;
}

.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple-animate 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    background: var(--secondary-color);
    pointer-events: none;
}

@keyframes ripple-animate {
    to {
        transform: scale(2);
        opacity: 0;
    }
}


.btn-primary {
    background-color: var(--bg2);
    border: 1px solid var(--secondary-color);
    color: black;
}

.btn-primary:hover {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: white;
}

.btn-exit {
    background-color: var(--bg2);
    border: 1px solid var(--secondary-color);
    color: black;
}

.btn-exit:hover {
    background-color: var(--danger-color);
    border: 1px solid var(--danger-color);
}

.btn-exit:hover > * {
    color: white;
}

.displayed-datapoint {
    padding-top: 16px;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--bg4);
    line-height: 0.5;
}

.displayed-datapoint-no-data {
    padding-top: 24px;
    padding-bottom: 8px;
}

.new-datapoint-popup {
    position: fixed;
    top: 100px;
    right: 260px;
    width: max-content;
    background-color: var(--bg1);
    border: 1px solid var(--bg4);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
    padding: 8px;
}

.add-new-datapoint-panel {
    display: flex;
    align-items: center; /* vertical centering */
    justify-content: center; /* horizontal centering */
    padding: 8px 0;
    margin-right: 8px;
    border-bottom: 1px solid var(--bg4);
    margin-bottom: 8px;
}

.add-new-datapoint-panel-title {
    padding-top: 10px;
    font-size: 1.0rem;
    max-width: 75%;
}

.add-new-datapoint-button {
    padding: 8px;
}

.add-new-datapoint-button > * {
    size: 24px;
    color: black;
}

.add-new-datapoint-panel :hover > * > * {
    color: white;
}

.new-datapoint-popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.05); 
    z-index: 998;
}

.new-data-form {
    padding: 16px;
    border-radius: 8px;
    z-index: 1000;
}

.popup-title-left {
    margin-top: 6px;
    margin-left: 18px;
}